body {
    background: #2d8580 url('../img/bg.jpg') no-repeat;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    color: #283233;
}

a {
    color: #8dc5be;
}

a:hover,
a:visited,
a:focus,
a:active {
    color: #9babad;
}


#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #373e3f url('../img/infinite-gif-preloader.gif') no-repeat center center;
}
.orbit img{width:100%; height: auto;}
.planet-title{color: #222;
    background: rgba(255,255,255,.7);
    padding: 10px;
margin-top: 0px;
position: absolute;
bottom: 0px;
    width: 50%;
transition: .3s ease-in-out;}
.planet-cards:hover .planet-title{width: 100%;}
.planet-cards{padding: 0px !important; margin: 0px; position:relative;}
.planet-cards h4{}
p {
    font-family: 'Raleway', sans-serif;
    color: #283233;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.app-menu{background: rgba(255,255,255,.5);}

.pinkpill{
  
    line-height: 70px;
    padding: 10px 20px;
    color: white;
    background: #f3625e;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(243,98,94,1);
-moz-box-shadow: 0px 0px 18px -1px rgba(243,98,94,1);
box-shadow: 0px 0px 18px -1px rgba(243,98,94,1);
       border-radius: 30px;
    transition: .3s ease-in-out;
    
}
.pinkpill:hover{color: #ffc7c5;}
.tab-wrap {
    position: relative;
    background: #f5f3ef;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    padding: 30px;
    text-align: center;
}
.row-pad{
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    background: #283233;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #d2925d;
}

footer p,
footer a {
    color: white;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .header-title h1 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 40em) {
    .header-title h1 {
        font-size: 1.5em;
    }
    .logo-ribbon {
        position: absolute;
        top: 0px;
        left: 45px;
    }
}